* text=auto
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.php text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.svg text eol=lf
*.pdf binary
*.zip binary
*.blend binary
*.glb binary
*.mind binary
*.png binary
*.wasm binary
*.wav binary
*.mp3 binary
